In [124]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import regex as re

Q1)
Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [15]:
SampleText='Python Exercises, PHP exercises.'
pattern="[\s+|,|.]"
Syntax=re.sub(pattern,":",SampleText)
print('Expected Output:',Syntax)

Expected Output: Python:Exercises::PHP:exercises:

Q2)
Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [123]:
import pandas as pd
import re

Dictionary={'SUMMARY':['hello, world!','XXXXX test','123four,five:; six...']}

df=pd.DataFrame(Dictionary)
pattern=re.compile(r'[\W\d]+|XXXXX')
df['SUMMARY'] = df['SUMMARY'].apply(lambda x: pattern.sub(' ', x))
print(df)

           SUMMARY
0     hello world
1             test
2   four five six

Q3) 
Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory

In [47]:
text="This is a sample text with some long and short words like hello, world, elephant, cat, and dog."
string_pattern=r'\b\w{4,}\b'
regex_pattern=re.compile(string_pattern)
result=regex_pattern.findall(text)
print(result)

['This', 'sample', 'text', 'with', 'some', 'long', 'short', 'words', 'like', 'hello', 'world', 'elephant']

Q4)
Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [50]:
text="This is a sample text with some long and short words like hello, world, elephant, cat, and dog."
string_pattern=r'\b\w{3,5}\b'
regex_pattern=re.compile(string_pattern)
result=regex_pattern.findall(text)
print(result)

['This', 'text', 'with', 'some', 'long', 'and', 'short', 'words', 'like', 'hello', 'world', 'cat', 'and', 'dog']

Q5)

In [112]:
strings=["example (.com)","hr@fliprobo (.com)","github (.com)","Hello (Data Science World)","Data(Scientist)"]
string_pattern=r'[\(\)]'
regex_pattern=re.compile(string_pattern)
result=[regex_pattern.sub('',string)for string in strings]
for string in result:
    print(string)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
DataScientist

Q6)
Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [105]:
#open text file in read mode
filepath="sample_text.txt"
with open(filepath,'r') as file:
    text=file.read()
    
#define regex pattern for dates
pattern=r'\([^)]*\)'

Output=re.sub(pattern,'',text)
print("Expected Output:",Output)

Expected Output: ["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

Q7)
Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [103]:
# Sample text
Sample_text="ImportanceOfRegularExpressionsInPython"
pattern=r'[A-Z][a-z]*'
result=re.findall(pattern,Sample_text)
print("Expected Output:",result)

Expected Output: ['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Q8)
Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [101]:
Sample_Text="RegularExpression1IsAn2ImportantTopic3InPython"
pattern=r'(?<!\d)(?=\d)'
result=re.sub(pattern,' ',Sample_Text)
print("Expected Output:",result)

Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

Q9)
Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [100]:
Sample_Text="RegularExpression1IsAn2ImportantTopic3InPython"
pattern=r'(?<!^)(?=[A-Z\d])'
result=re.sub(pattern,' ',Sample_Text)
print("Expected Output:",result)

Expected Output: Regular Expression 1 Is An 2 Important Topic 3 In Python

Q10)
- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [97]:
import pandas as pd
url="https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
data=pd.read_csv(url)
pattern = r'^(\w{1,6})'
data['first_five_letter']=data['Country'].str.extract(pattern,)
print(data.head())

       Country          Region  Happiness Rank  Happiness Score  \
0  Switzerland  Western Europe               1            7.587
1      Iceland  Western Europe               2            7.561
2      Denmark  Western Europe               3            7.527
3       Norway  Western Europe               4            7.522
4       Canada   North America               5            7.427

   Standard Error  Economy (GDP per Capita)   Family  \
0         0.03411                   1.39651  1.34951
1         0.04884                   1.30232  1.40223
2         0.03328                   1.32548  1.36058
3         0.03880                   1.45900  1.33095
4         0.03553                   1.32629  1.32261

   Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                   0.94143  0.66557                        0.41978
1                   0.94784  0.62877                        0.14145
2                   0.87464  0.64938                        0.48357
3                   0.88521  0.66973                        0.36503
4                   0.90563  0.63297                        0.32957

   Generosity  Dystopia Residual first_five_letter
0     0.29678            2.51738            Switze
1     0.43630            2.70201            Icelan
2     0.34139            2.49204            Denmar
3     0.34699            2.46531            Norway
4     0.45811            2.45176            Canada

Q11)
Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [95]:
strings=["Hello123","Python_is_great","123_abc_DEF","special@character"]
pattern=r'^[a-zA-Z0-9_]+$'
for string in strings:
    match=re.match(pattern,string)
    print(match)

<re.Match object; span=(0, 8), match='Hello123'>
<re.Match object; span=(0, 15), match='Python_is_great'>
<re.Match object; span=(0, 11), match='123_abc_DEF'>
None

Q12)
Write a Python program where a string will start with a specific number.

In [90]:
strings=["12345Hello","456World","789Python","Hello123"]
pattern=r'\b\d{1,4}\w*\b'
for string in strings:
    matches=re.findall(pattern, string)
    
    print(matches)

['12345Hello']
['456World']
['789Python']
[]

Q13)
Write a Python program to remove leading zeros from an IP address

In [76]:
ip_address="192.168.001.001"
pattern=r'\b0+(\d+)\b'
modified_ip=re.sub(pattern,r'1',ip_address)
print("Modified IP address:",modified_ip)

Modified IP address: 192.168.1.1

Q14)
Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [71]:
#open text file in read mode
filepath= "sample_text1.txt"
with open(filepath,'r') as file:
    text=file.read()
    
#define regex pattern for dates
date_pattern=r'\b(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:st|nd|rd|th)\s+\d{4}\b'

dates=re.findall(date_pattern,text)
print("Extracted date string:",dates)

Extracted date string: ['August 15th 1947']

Q15)Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [69]:
Sample_text='The quick brown fox jumps over the lazy dog.'
pattern='fox|dog|horse'
searches=re.findall(pattern,Sample_text)
for search in searches:
    start_index = match.start()
    end_index = match.end()
    print(f"Pattern '{pattern}' found at position {start_index} to {end_index-1} in the sample text.")
    print("Searched words:",searches)

Pattern 'fox|dog|horse' found at position 16 to 18 in the sample text.
Searched words: ['fox', 'dog']
Pattern 'fox|dog|horse' found at position 16 to 18 in the sample text.
Searched words: ['fox', 'dog']

Q16)
Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [66]:
Sample_text='The quick brown fox jumps over the lazy dog.'
pattern='fox'
matches=re.finditer(pattern,Sample_text)
for match in matches:
    start_index = match.start()
    end_index = match.end()
    print(f"Pattern '{pattern}' found at position {start_index} to {end_index-1} in the sample text.")

Pattern 'fox' found at position 16 to 18 in the sample text.

Q17)
- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [60]:
Sample_text='Python exercises,PHP exercises,C# exercises'
pattern='exercises'
result=re.findall(pattern,Sample_text)
print(result)

['exercises', 'exercises', 'exercises']

Q18)

Q19)
Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [59]:
date_string='2023-04-15'
split=date_string.split("-")
output=f"{split[2]}-{split[1]}-{split[0]}"
print("Original date:",date_string)
print("Converted date:",output)

Original date: 2023-04-15
Converted date: 15-04-2023

Q20)
Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [56]:
sample_text="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern=re.compile(r'\b\d+\.\d{1,2}\b')
decimal_numbers=pattern.findall(sample_text)
print("Expected Output:",decimal_numbers)

Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

Q21)
Write a Python program to separate and print the numbers and their position of a given string.

In [53]:
sample_string="Hello123World456"
pattern=r'\d+'
results=re.finditer(pattern,sample_string)
for match in results:
    number=match.group()
    start_pos=match.start()
    end_pos=match.end()
    print(f"Number:{number},Start Position:{start_pos},End Position:{end_pos}")

Number:123,Start Position:5,End Position:8
Number:456,Start Position:13,End Position:16

Q22)
Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

In [48]:
SampleText='My marks in each semester are:947,896,926,524,734,950,642'
pattern=r'\b\d+\b'
numeric_values=re.findall(pattern,SampleText)
max_value=max(numeric_values)
print("Expected Output:",max_value)

Expected Output: 950

Q23)
Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [46]:
sample_text="RegularExpressionIsAnImportantTopicInPython"
pattern=r'(?<!^)(?=[A-Z])'
result=re.sub(pattern,' ',sample_text)
print("Expected Output:",result)

Expected Output: Regular Expression Is An Important Topic In Python

Q24)
Python regex to find sequences of one upper case letter followed by lower case letters

In [43]:
import re

sample_text="The Quick brown Fox jumps over the Lazy Dog."
pattern=r'[A-Z][a-z]+'
result=re.findall(pattern,sample_text)
print("Matches:",result)

Matches: ['The', 'Quick', 'Fox', 'Lazy', 'Dog']

Q25)

In [39]:
import re

sample_text="Hello hello world world"
pattern=r'\b(\w+)(\s+\1)+\b'
regex=re.sub(pattern,r"\1",sample_text)
print("Expected Output:", regex)

Expected Output: Hello hello world

Q26)
Write a python program using RegEx to accept string ending with alphanumeric character.

In [38]:
sample_text="Purple02758&! and Mu5Hr00Ms571&@! are both alphanumeric strings."
pattern=r'\b\w+[a-zA-Z0-9]\b'
results=re.findall(pattern, sample_text)
print("Strings ending with an alphanumeric character:")
for result in results:
    print(result)

Strings ending with an alphanumeric character:
Purple02758
and
Mu5Hr00Ms571
are
both
alphanumeric
strings

Q27)
Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [25]:
Sample_Text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
    
pattern=r'\#\w+'

result=re.findall(pattern,Sample_Text)
print("Expected Output:",result)

Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

Q28)
Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [21]:
Sample_Text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

pattern=r'<U\+[0-9A-Za-z]{2,4}>'
result=re.sub(pattern,'',Sample_Text)
print("Expected Output:",result)

Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

Q29)
Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [15]:
#open text file in read mode
filepath= "text_file.txt"
with open(filepath,'r') as file:
    text=file.read()
    
#define regex pattern for dates
date_pattern=r'\b\d{1,2}[/-]\d{1,2}[/-]\d{2,4}\b'

dates=re.findall(date_pattern,text)
print("dates found in the text:",dates)

dates found in the text: ['12-09-1992', '15-12-1999']

Q30)
Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [128]:
Sample_Text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

pattern=re.compile(r'\b\w{2,4}\b')
result=[pattern.sub('',Sample_Text)]
for string in result:
    print("Expected Output:",string)

Expected Output:  following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.