In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import pandas as pd

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [ ]:
Q1)

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [5]:
# creating lists
rank =[]
name =[]
artist =[]
upload_date =[]
views =[]

In [7]:
tables=driver.find_element(By.XPATH,'//table')

In [ ]:
video_table=

In [ ]:
//*[@id="mw-content-text"]/div[1]/table[1]

In [ ]:
/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]

In [8]:
# Create Dataframe
mn = pd.DataFrame({'Rank': rank, 'Name': name, 'Artist': artist, 'Upload Date': upload_date, 'Views (billions)': views})
mn

Empty DataFrame
Columns: [Rank, Name, Artist, Upload Date, Views (billions)]
Index: []

In [ ]:
2)

In [9]:
driver=webdriver.Chrome()
driver.get('https://www.bcci.tv/')

In [10]:
#Team Indiaâ€™s International Fixtures page

fixture=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixture.click()

In [11]:
# creating list

series = []
place = []
date = []
time = []

In [ ]:
series=driver.find_element(By.XPATH,'')

In [12]:
match_details=driver.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[1]/div[2]/div[3]/div/a')
match_details.click()

In [23]:
series_name=driver.find_elements(By.XPATH,'/html/body/div[5]/div/div[1]/div[2]/div[2]/div[3]/div[2]/div[2]/div[1]/div[3]/div[1]/div/ul/li[1]/span[2]')
for i in series_name:
    seriess=i.text
    series.append(seriess)

In [15]:
location_tags=driver.find_elements(By.XPATH,'/html/body/div[5]/div/div[1]/div[2]/div[2]/div[3]/div[2]/div[2]/div[1]/div[3]/div[1]/div/ul/li[3]/span[2]')
for i in location_tags:
    location=i.text
    place.append(location)

In [17]:
Date_tag=driver.find_elements(By.XPATH,'/html/body/div[5]/div/div[1]/div[2]/div[2]/div[3]/div[1]/div[1]/div/div[3]/div[1]')
for i in Date_tag:
    dt1=i.text
    place.append(dt1)

In [18]:
time_tag=driver.find_elements(By.XPATH,'/html/body/div[5]/div/div[1]/div[2]/div[2]/div[3]/div[1]/div[1]/div/div[3]/div[2]')
for i in time_tag:
    tim=i.text
    place.append(tim)

In [24]:
df=pd.DataFrame({'Series':series,'Place': place,'Date':date,'Time':time})

ValueError: All arrays must be of the same length

In [ ]:
Q3)

In [25]:
driver=webdriver.Chrome()
driver.get('http://statisticstimes.com/')

In [27]:
 #Creating lists

rank = []
state = []
GSDP1819 = []
GSDP1920 = []
share1819 = []
GDP = []

In [28]:
df = pd.DataFrame({'Rank': rank, 'State': state, 'GSDP (19-20)': GSDP1819, 'GSDP (18-19)': GSDP1920, 'Share': share1819, 'GDP ($billion)': GDP})
df

Empty DataFrame
Columns: [Rank, State, GSDP (19-20), GSDP (18-19), Share, GDP ($billion)]
Index: []

In [ ]:
Q4)

In [29]:
driver=webdriver.Chrome()
driver.get('https://www.github.com/')

In [30]:
# Create lists

repo_title = []
repo_desc = []
cont_count = []
language = []

In [31]:
df = pd.DataFrame({'Repository Title': repo_title, 'Repository Description': repo_desc, 'Contributors Count': cont_count, 'Language Used': language})
df

Empty DataFrame
Columns: [Repository Title, Repository Description, Contributors Count, Language Used]
Index: []

In [ ]:
Q5)

In [32]:
driver=webdriver.Chrome()
driver.get('https://www.billboard.com/')

In [38]:
charts=driver.find_element(By.XPATH, "/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
charts.click()

In [40]:
top_songs=driver.find_element(By.XPATH, "/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a")
top_songs.click()

In [39]:
# Create lists

song = []
artist = []
last_week = []
peak = []
weeks_on_board = []

In [44]:
topSongs_details = driver.find_elements(By.XPATH, "//div[@class='o-chart-results-list-row-container']")

In [45]:
print("topSongs_details: ", len(topSongs_details))

topSongs_details:  99

In [46]:
df = pd.DataFrame({'Song Name': song, 'Artist Name': artist, 'Last Week Rank': last_week, 'Peak Rank': peak, 'Weeks On Board': weeks_on_board})
df

Empty DataFrame
Columns: [Song Name, Artist Name, Last Week Rank, Peak Rank, Weeks On Board]
Index: []

In [ ]:
Q6)

In [47]:
driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [49]:
novels_table = driver.find_element(By.XPATH, "//table[@class='in-article sortable']")

In [ ]:
Q7)

In [50]:
driver=webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls095964455/')

In [51]:
tvShows = driver.find_elements(By.XPATH, "//div[@class='lister-item mode-detail']")

In [53]:
# Create lists

name = []
years = []
genre = []
run_time = []
rating = []
votes = []

In [60]:
df = pd.DataFrame({'Name': name, 'Year Span': years, 'Genre': genre, 'Run Time': run_time, 'Rating': rating, 'Votes': votes})
df

Empty DataFrame
Columns: [Name, Year Span, Genre, Run Time, Rating, Votes]
Index: []

In [ ]:
Q8)

In [52]:
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')